* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --jasmine: #fbd784;
  --bg: #0b1d26;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--bg);
}
img {
  max-width: 100%i;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo a {
  font-size: 34px;
  color: var(--white);

}
header .container .nav input {
  appearance: none;
}
@media (max-width: 991px) {
  header .nav {
    position: relative;
  }
  header .nav label img {
    cursor: pointer;
    background-color: var(--white);
  }
  header .nav input {
    appearance: none;
  }
  header .nav input:checked + ul {
    display: block;
  }

  header .nav ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 250px;
    background-color: var(--white);
    z-index: 10;
  }
  header .nav ul li a {
    display: block;
    padding: 10px;
    color: var(--black);
  }
  header .nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
}
@media (min-width: 992px) {
  header .nav label,
  header .nav input {
    display: none;
  }
  header .nav ul {
    display: flex;
  }
  header .nav ul li {
    padding: 10px;
  }
  header .nav ul li a {
    color: var(--white);
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-position: center;
  background-size: cover;
}
.hero .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  position: relative;
  padding-left: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--jasmine);
}

.subtitle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: var(--jasmine);
}
.hero .container h1 {
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
  color: var(--white);
}
@media (max-width: 991px) {
  .container h1 {
    font-size: 34px;
  }
}
.hero .container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}
.card-detalis .container,
.card-detalis-3 .container,
.card-detalis-2 .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 150px;
  box-shadow: 0 0 100px 100px var(--bg);
}
.card-detalis-2 .container {
  margin: 80px 0;
  flex-direction: row-reverse;
}
.content-card h2,
.content-card-2 h2,
.content-card-3 h2 {
  position: relative;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 300;
  color: var(--white);
}
.content-card h2::before,
.content-card-2 h2::before,
.content-card-3 h2::before {
  content: "";
  position: absolute;
  top: -120px;
  left: -90px;
  font-size: 170px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.103);
}
.content-card h2::before {
  content: "01";
}
.content-card-2 h2::before {
  content: "02";
}
.content-card-3 h2::before {
  content: "03";
}
.content-card p {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1.5;
  color: var(--white);
}
.content-card a {
  display: flex;
  text-align: center;
  gap: 10px;
  color: var(--jasmine);
}
.container .img img {
  width: 300px;
}
footer .container {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 180px;
}
footer .container .info .logo a {
  font-size: 20px;
  color: var(--white);
}

footer .container .info p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.5;
  color: var(--white);
}
footer .container .info span {
  display: block;
  margin-top: 80px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.475);
}
footer .container .links {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.links h3 {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 600;
  color: var(--jasmine);
}
.links ul li {
  padding: 5px;
  font-size: 11px;
  font-weight: 100;
}
.links ul li a {
  color: var(--white);
}
